{% load static %}
{% load widget_tweaks %}


<!DOCTYPE html>
<html lang="en">

    <form action = # method = "POST"> {% csrf_token %}
<!--
        {% for user in filter.qs%}

        {{user.intern}}<br>

        {% endfor %} -->

  <table class="table table-bordered" id = "time">


    <thead>
      <tr>
        <th> Intern </th>
        <th> Total Hours </th>
        <th> Work Done </th>


      </tr>
    </thead>
    <tbody>
      {% for user in exp %}
        <tr>
          <td>{{ user.user }}</td>
          <td>{{ user.total }}</td>
          <td>{{ user.sum }}</td>
      {% endfor %}
    </tbody>
  </table>


    </form>

</html>




